.logo {
    text-transform: uppercase;
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid var(--lightgrey);
    z-index: 1000;
}

.logo h1  {
    font-size: 2.3rem;
}

.logo h1 a {
    color: var(--primary-color);
    text-decoration: none;
}


.logo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.3rem;
}

.logo ul {
    display: flex;
    list-style: none;
}

.logo ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 2.5rem;
    font-size: 1.65rem;
    color: var(--primary-color);
    position: relative;
}
.logo ul li a::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 50%;
    width: 0;
    height: 0.3rem;
    background: var(--primary-color);
    transition: 0.3s ease-in-out;
}
.logo ul li a:hover::after {
    left: 25%;
    width: 50%;
}