    .intro-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    padding: 0 2rem;
        }
    .intro-img img {
        height: auto;
        width: 100%;
        max-width: 60rem;

    }
    .intro-text p {
        padding: 3rem 0;
        font-size: 2.5rem;
    }
    .intro-text h1 {
        font-size: 9rem;
        text-transform: uppercase;
    }

    /* top 3 */

    .top-3-content {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        max-width: 64rem;
        min-height: 100vh;
        text-align: center;
        justify-content: center;
        align-items: center;

    }
    .top-3-content p {
        padding: 3rem;
        font-size: 2.2rem;
    }

    /* JOBS */

    .grid-container-job {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
        gap: var(--gap);
        padding: 6rem 1.5rem;
    }
    @media (max-width: 400px) {
        .grid-container-job {
            grid-template-columns: minmax(20rem, 30rem);
        }
    }
    .grid-content {
        padding: 2rem 2.5rem;
        text-align: center;
        min-height: 100vh;
        
    }
    .grid-content hr {
        margin: 3rem auto;
        border: 0.1rem solid var(--primary-color);
    }
    .cyber p{
        padding: 5.4rem 0;
        
        
    }
    /* Galeria */

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);
        padding: 2rem 2rem;
        max-width: 92rem;
        margin: 0 auto;
    }
    
    .gallery-img img {
        width: 100%;
        max-width: 36rem;
        max-height: 36rem;
        transition: all 0.3s ease;
    }

    .gallery-img img:hover {
        transform: scale(1.05) translateY(-1rem) ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }   

    /* Price */

    .price-content {
        text-align: center;
        justify-content: center;
    }

    .price-table {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
     .price-table caption {
        margin-bottom: 2rem;
    }
    .price-table table {
        width: 100%;
        max-width: 60rem;
        margin: 0 auto;
        border: 1px solid var(--primary-color);
        border-collapse: collapse;
    }
    .price-table tr, td {
        border: 1px solid var(--primary-color);
    }
    .price-table th {
        border: 1px solid var(--primary-color);
        background-color: var(--lightgrey);
    }
    /* contact */

    .contact-q {
        font-weight: bold;
        font-size: 8rem;
    }
    .contact-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap);
    padding: 0 5rem;
        }
    .contact-img img {
        height: auto;
        width: 100%;
        max-width: 30rem;
        
        padding: 4rem 0;
    }
    /* form */
    .contact-form {
        padding: 2rem;
        max-width: 90rem;
        margin: 0 auto;
    }
    .contact-form .form-grid {
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
    }
    .form-group {
        flex: 1 1 auto;
    }
    .form-group label {
        display: block;
        margin-bottom: 0.5rem;
    }
    .form-grid :nth-child(4){
     grid-column: 1 / 3;
   
}
 .form-grid :nth-child(5){
     grid-column: 1 / 3;
      
}
 .form-grid :nth-child(6){
     grid-column: 1 / 3;
}
    .form-group input, .form-group textarea {
        width: 100%;;
        padding: 0.5rem;
        border: none;
        font-size: 2rem;
    }
    .form-group button {
        padding: 1rem 3.5rem;
        font-size: 1.6rem;
        border-radius: 0.8rem;
    }
 footer {
    background-color: var(--lightgrey);
    color: var(--primary-color);
    text-align: center;
    padding: 0.8rem;
    
}
.menu-toggle {
    display: none;
}

/* medias */
@media (max-width: 780px) {
    .intro-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 780px) {
    .contact-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 780px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }


.logo {
  bottom: 0;
  text-align: center;
}

.logo-content, .logo-content ul {
  flex-direction: column;
  justify-content: center;
}
.logo-content {
     height: 100vh;
}
.logo {
    display: none;
}

.la-logo::after {
    content: '☰' ;
    position: fixed;
    z-index: 1001;
    top: 1rem;
    right: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 4rem;
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding: 0.67rem;
}

.menu-toggle:checked~ .logo {
    display: block;
}
.menu-toggle:checked + .la-logo::after {
    content: '✖';
    body {
        padding-top: 4.3rem;
}
.logo-content {
    height: 0;
}
body {
    padding-top: 0;
    
}
}}